/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/installed
/vendor
.env
.env.example
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/_resource
/public/mt5-downloads-icons/*
/public/payment-proof/*
/public/payment-wallets-barcodes/*
/public/payment-wallets-icons/*
/public/kyc/*
/public/email-page-design/*
/app/mt5-downloads-icons/*
/app/payment-proof/*
/app/payment-wallets-barcodes/*
/app/payment-wallets-icons/*
/app/kyc/*